body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("https://images.unsplash.com/photo-1496545672447-f699b503d270?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.2rem rgba(0,0,0,.3);
    box-shadow: inset 0 0 4rem rgba(0,0,0,0.3);
}

.cover-container {
    max-width: 90vw;
}

.nav-link {
    padding: 0.2rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.7);
    margin-left: 1rem;
    border-bottom: .2rem solid transparent;
}
.nav-link:hover {
    color: rgba(255,255,255,0.7);
}
.nav-link.active {
    color: white !important;
}
@media (min-width: 992px) {
    .nav-link:hover {
        border-bottom-color: rgba(255,255,255,0.7);
        border-radius: .2rem;
    }
    .nav-link.active {
        border-bottom-color: rgba(255,255,255,0.7);
        border-radius: .2rem;
    }
  }

.btn-light, .btn-light:hover{
    color: #333;
    text-shadow: none;
}